.contato {
    background: url(../img/guitarra.jpg);
    background-color: wheat;
}

.contato .container {
    overflow: auto;
}

.contato h1 {
    color: bisque;
    padding: 40px 0;
}

.formulario {
    width: 500px;
}

form label, form p{
    text-align: center;
    display: block;
    font-size: 20px;
    margin-bottom:10px ;
}

.div-radio {
    margin-bottom: 30px;
}